@font-face {
  font-family: 'cuprum';
  src: url('../fonts/cuprum-regular-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'cuprum';
  src: url('../fonts/cuprum-italic-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'cuprum';
  src: url('../fonts/cuprum-bold-webfont.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'pt_sans';
  src: url('../fonts/pts55f-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'pt_sans';
  src: url('../fonts/pts75f-webfont.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

.page-body {
  margin: 0;
  padding: 0;

  min-width: 960px;

  font-family: 'cuprum', Arial, sans-serif;
  font-size: 13px;
  line-height: 14px;
  color: #000000;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  background-color: #ee3643;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  text-decoration: none;

  border:none;
  border-radius: 3px;

  cursor: pointer;
}

.btn:hover,
.btn:focus {
  background-color: #ca2c37;
}

.btn:focus {
  outline: none;
}

.btn:active {
  background-color: #ba2732;
}

.list-reset {
  margin: 0;
  padding: 0;

  list-style: none;
}

.menu-top {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  background-color: #293449;
}

.logo {
  background-color: #ee3643;
}

.logo:hover,
.logo:focus {
  background-color: #ca2c37;
}

.logo:focus {
  outline: none;
}

.logo:active {
  background-color: #ba2732;
}

.form__search {
  font-family: inherit;
  font-size: 17px;
  line-height: 18px;
  color: #000000;
  background-color: transparent;
  border: none;

  cursor: pointer;
}

.form__search::placeholder {
  color: #ffffff;
}

.block-buyer__link {
  color: #ffffff;
}

.form__search:hover,
.block-buyer__link:hover,
.block-buyer__link:focus {
  background-color: #212a3a;
}

.block-buyer__link:focus {
  outline:none;
}

.block-buyer__link:active {
  background-color: #161d29;
}

.form__search:focus {
  outline: none;
  background-color: #ffffff;
}

.block-buyer__link--order {
  background-color: #63a63e;
}

.block-buyer__link--order:hover,
.block-buyer__link--order:focus {
  background-color: #5fbb2d;
}

.block-buyer__link--order:active {
  background-color: #518534;
}

.menu {
  background-color: #f3f7f9;
}

.menu-user__title {
  margin: 0;
  padding: 0;

  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
}

.menu-user__phone {
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
}

.menu-user__address {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.menu-user__account {
  margin: 0;
  padding: 0;

  list-style: none;
}

.account__link {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}

.account__link:hover,
.account__link:focus {
  color: #ee3643;
}

.account__link:focus {
  outline: none;
}

.account__link:active {
  color: #cacaca;
  color: rgba(0, 0, 0, 0.3);
}

.nav-menu {
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
  background-color: #32425c;
}

.nav-menu__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.site-list__link {
  color: #ffffff;
}

.site-list__link:hover,
.site-list__link:focus {
  background-color: #293449;
}

.site-list__link:focus {
  outline: none;
}

.site-list__link:active {
  color: #a1a4a8;
  color: rgba(255, 255, 255, 0.5);
  background-color: #1d2739;
}

.promo-block {
  color: #ffffff;
}

.promo-card {
  width: 300px;
  height: 125px;
}

.promo-card--material {
  background-color: #ffbf47;
}


.promo-card--tool {
  background-color: #4aafde;
}

.promo-card--technique {
  background-color: #cc79d1;
}

.promo-card--discounts {
  background-color: #85d179;
}

.promo-card--delivery {
  background-color: #f6b22d;
}

.promo-card__title {
  margin: 0;
  padding: 0;

  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.promo-card__link {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  background-color: #e5e5e5;
  background-color: rgba(0, 0, 0, 0.1);
}

.promo-card__link:hover,
.promo-card__link:focus {
  background-color: #cccccc;
  background-color: rgba(0, 0, 0, 0.2);
}

.promo-card__link:focus {
  outline: none;
}

.promo-card__link:active {
  background-color: #b2b2b2;
  background-color: rgba(0, 0, 0, 0.3);
}

.slider__btn-radio {
  margin: 0;
  padding: 0;

  width: 7px;
  height: 7px;

  background-color: #ee3643;
  border: 2px solid #ffffff;
  border-radius: 50%;
  box-sizing: content-box;
}

.slider-btn {
  background-color: #ffffff;
  border: none;
}

.slider__item {
  background-color: #584e44;
}

.slider__title {
  margin: 0;
  padding: 0;

  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
}

.slider__text {
  margin: 0;
  padding: 0;

  font-size: 18px;
  line-height: 24px;
}

.header-block {
  background-color: #f9f5f0;
}

.header-block__title {
  margin: 0;
  padding: 0;

  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;
}

.product-cart {
  width: 220px;
  border: 1px solid #e5e5e5;
}

.product-cart:hover,
.product-cart:focus {
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.product-cart:focus {
  outline: none;
}

.product-cart__title {
  font-family: 'pt_sans', Arial, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}

.product-cart__link {
  color: #000000;
}

.product-cart__price-wrapper {
  font-family: 'pt_sans', Arial, sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
}

.product-cart__discount {
  color: #a9a9a9;
  text-decoration: line-through;
}

.product-cart__price {
  color: #ffffff;
  background-color: #ee3643;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.actions__link {
  font-family: inherit;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  border-radius: 2px;
  text-transform: uppercase;
}

.actions__link--buy {
  color: #ffffff;
  background-color: #63a63e;
}

.actions__link--buy:hover,
.actions__link--buy:focus {
  color: #ffffff;
  background-color: #5fbb2d;
}

.actions__link--buy:focus {
  outline: none;
}

.actions__link--buy:active {
  background-color: #518534;
}

.actions__link--bookmarks {
  color: #32425c;
  border: 3px solid #63a63e;
}

.actions__link--bookmarks:hover,
.actions__link--bookmarks:focus {
  border: 3px solid #32425c;
}

.actions__link--bookmarks:focus {
  outline: none;
}

.actions__link--bookmarks:active {
  color: #d0d2d6;
  color: rgba(50, 60, 92, 0.3);
  border: 3px solid #c1c6ce;
}

.manufacturers__link-img {
  margin: 0;
  padding: 0;

  display: block;
  width: 220px;
  height: 145px;

  border: 1px solid #e5e5e5;
}

.manufacturers__link-img:hover,
.manufacturers__link-img:focus {
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.manufacturers__link-img:focus {
  outline: none;
}

.manufacturers__link-img:active {
  opacity: 0.3;
}

.service__title {
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.service__text {
  margin: 0;
  padding: 0;

  font-family: 'pt_sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.service-tab__link {
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
  color: #ffffff;
  background-color: #32425c;
}

.service-tab__link:focus {
  color: #32425c;
  background-color: #ffffff;
}

.service-tab__link:focus {
  outline: none;
}

.service-tab__link:active {
  color: #ffffff;
  background-color: #293449;
}

.service__slide-title {
  margin: 0;
  padding: 0;

  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #32425c;
}

.company__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #32425c;
  text-transform: uppercase;
}

.company__partners-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.partners-list__item {
  font-size: 18px;
  line-height: 20px;
}

.footer-top {
  font-size: 18px;
  line-height: 24px;
  color: #f1f5f7;
  background-color: #32425c;
}

.footer-menu__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.footer-menu__link {
  color: #f1f5f7;
}

.footer-menu__link:hover,
.footer-menu__link:focus {
  border-bottom: 1px solid #f1f5f7;
}

.footer-menu__link:focus {
  outline: none;
}

.footer-menu__link:active {
  color: #99a0ab;
  color: rgba(241, 245, 247, 0.5);
  border-bottom: none;
}

.footer-bottom,
.feedback__link {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  background-color: #293449;
}

.footer-menu__link--lower,
.feedback__link {
  color: #ffd180;
}

.footer-menu__link--lower:hover,
.footer-menu__link--lower:focus,
.feedback__link:hover,
.feedback__link:focus {
  border-bottom: 1px solid #ffd180;
}

.footer-menu__link--lower:focus,
.feedback__link:focus {
  outline: none;
}

.footer-menu__link--lower:active {
  color: #a6906e;
  color: rgba(255, 209, 128, 0.5);
  border-bottom: none;
}

.feedback__link:active {
  color: #ee3643;
  border-bottom: none;
}

.social__link {
  display: flex;
  width: 40px;
  height: 40px;

  background-color: #212a3a;
  border-radius: 50%;
}

.social__link:hover,
.social__link:focus,
.social__link:active {
  background-color: #ee3643;
}

.social__link:focus {
  outline: none;
}

.modal-cart__links {
  background-color: #f1f1f1;
}

.modal-cart__title {
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
}

.modal-cart__link-2 {
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 18px;
  color: #000000;
  background-color: #ffffff;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  text-decoration: none;

  border:none;
  border-radius: 3px;

  cursor: pointer;
}

.modal__form-label {
  font-size: 18px;
  line-height: 18px;
}

.modal__form-input,
.modal__form-textarea {
  border: 1px solid #d7dcde;
  border-radius: 2px;
}

.modal__form-input:hover {
  border: 1px solid #b5b5b5;
}

.modal__form-input:focus {
  outline: none;
  border: 1px solid #ee3643;
}

.modal__form-input::placeholder
.modal__form-textarea::placeholder {
  font-family: 'pt_sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #a9a9a9;
}

.modal__form-button {
  font-family: inherit;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
}
.map_popup {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1200px;
  height: 3151px;
  z-index: 44;
}

.map-popap__img {
  background-color: rgb(86, 86, 86);
  box-shadow: 0px 0px 14.72px 1.28px rgba(47, 42, 43, 0.5);

}

.modal-close {
  background-color: transparent;
  border: none;
}

.menu--inner {
  background-color: #f2f6f8;
}

.account-name {
  background-color: #ffffff;
}

.account-name__link {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
}

.account-inner__personal {
  margin: 0;
  padding: 0;

  list-style: none;
}

.acount-personal__link {
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  border-bottom: 1px solid #32425c;
}

.acount-personal__link:hover,
.acount-personal__link:focus {
  color: #ee3643;
  border-bottom: 1px solid #f0bcc0;
}

.acount-personal__link:focus {
  outline: none;
}

.account-name__link:active {
  color: #cacaca;
  color: rgba(0, 0, 0, 0.3);
}
.acount-personal__link:active {
  color: #ced3d8;
  color: rgba(50, 66, 92, 0.3);
  border-bottom: 1px solid #ced3d8;
  border-bottom: 1px solid rgba(50, 66, 92, 0.3);
}

.breadcrumbs__link {
  font-family: 'pt_sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
}

.catalog-title {
  margin: 0;
  padding: 0;

  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  background-color: #f2f6f8;
  text-transform: uppercase;
}

.catalog__header {
  background-color: #f7f3ec;
}

.catalog__header-title {
  font-family: 'pt_sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
}

.form__fieldset {
  border: none;
}

.form__legend {
  font-family: 'pt_sans', Arial, sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.range-filter__controls {
  background-color: #f7f3ec;
}

.range-filter__toggle {
  margin: 0;
  padding: 0;

  width: 4px;
  height: 4px;

  background-color: #000000;
  border: 8px solid #ffffff;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  box-sizing: content-box;
  cursor: pointer;
}

.range-filter__input {
  width: 95px;

  font-family: 'pt_sans', Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  color: #000000;
  background-color: #f7f3ec;
  border: none;
  border-radius: 4px;
}

.form__checkbox-label,
.form__radio-label {
  font-family: 'pt_sans', Arial, sans-serif;
  font-size: 15px;
  line-height: 20px;
  color: #000000;
  text-transform: uppercase;
  cursor: pointer;
}

.form__button {
  line-height: 18px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.header-sort__link {
  font-family: 'pt_sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #c4c1bb;
  color: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  border-bottom: 1px dotted #ee3643;
}

.header-sort__link:hover,
.header-sort__link:focus {
  color: #000000;
  border-bottom: 1px solid #ee3643;
}

.header-sort__link:focus {
  outline: none;
}

.header-sort__link--active {
  color: #ee3643;
  border-bottom: none;
}

.header-sort__list-arrows {
  margin: 0;
  padding: 0;

  list-style: none;
}

.list-arrows {
  display: flex;
  justify-content: space-between;

  width: 30px;
}

.list-arrows__link {
  position: relative;

  display: block;
  margin: 0;
  padding: 0;
}

.list-arrows__link {
  content: "";
  position: absolute;
  width: 0;
  height: 0;

  border-style: solid;
  border-width: 0 5px 10px 5px;
  border-color: transparent transparent #c5c5c5 transparent;
}

.list-arrows__link--low {
  transform: rotate(180deg);
}

.list-arrows__link:hover,
.list-arrows__link:focus {
  border-color: transparent transparent #000000 transparent;
}

.list-arrows__link:focus {
  outline: none;
}

.list-arrows__link--active {
  border-color: transparent transparent #ee3643 transparent;
}

.pagination-list {
  display: flex;
}

.pagination__link {
  display: block;
  padding: 10px 14px;

  font-family: 'pt_sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-decoration: none;
  border: 1px solid #e5e5e5;
}

.pagination__link:hover,
.pagination__link:focus {
  border: 1px solid #bdc6ca;
}

.pagination__link:focus {
  outline: none;
}

.pagination__link:active {
  border: 1px solid #ee3643;
}

.pagination__link--active {
  color: #ffffff;
  background-color: #ee3643;
  border-radius: 2px;
}

.pagination__link__last {
  padding: 10px 33px;

  text-transform: uppercase;
}


.about-product__title {
  margin: 0;
  padding: 0;

  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.about-product__text {
  margin: 0;
  padding: 0;

  font-family: 'pt_sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}
